{% load static %}
<!-- templates/personas/persona_list.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Personas</title>
</head>
<body>
    <img src="{% static "imgs/logo.png" %}" alt="logo unsa">
    <h1>Lista de Personas</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Edad</th>
            <th>Donador</th>
            <th>Acciones</th>
        </tr>
        {% for persona in object_list %}
        <tr>
            <td>{{ persona.id }}</td>
            <td>{{ persona.nombres }}</td>
            <td>{{ persona.apellidos }}</td>
            <td>{{ persona.edad }}</td>
            <td>{{ persona.donador|yesno:"Sí,No" }}</td>
            <td>
                <a href="{% url 'personas:persona-detail' persona.id %}">Ver</a>
                <a href="{% url 'personas:persona-update' persona.id %}">Editar</a>
                <a href="{% url 'personas:persona-delete' persona.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'personas:persona-create' %}">Crear Nueva Persona</a>
</body>
</html>
