<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Agregar Datos</h1>
    <div class="form-container">
        <div id="div1" class="form_">
            <form method="post">
                {% csrf_token %}
                <h2>Nuevo Alumno</h2>
                {{ alumno_form.as_p }}
                <button type="submit" name="alumno_submit">Guardar Alumno</button>
            </form>
        </div>
        
        <div id="div2" class="form_">
            <form method="post">
                {% csrf_token %}
                <h2>Nuevo Curso</h2>
                {{ curso_form.as_p }}
                <button type="submit" name="curso_submit">Guardar Curso</button>
            </form>
        </div>
        
        <div id="div3" class="form_">
            <form method="post">
                {% csrf_token %}
                <h2>Agregar Nota</h2>
                {{ nota_form.as_p }}
                <button type="submit" name="nota_submit">Guardar Nota</button>
            </form>
        </div>
    </div>
    <h3>Lista de Notas</h3>
    <div id="lista">
        <table>
            <thead>
                <tr>
                    <th>Alumno</th>
                    <th>Curso</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                {% for nota in notas %}
                <tr>
                    <td>{{nota.alumno.nombre}}</td>
                    <td>{{nota.curso.nombre}}</td>
                    <td>{{nota.nota}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>