<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style_index.css' %}">
</head>
<body>
  <button onclick="render_to_pdf()">renderizar a pdf</button>
  <div>
    <h1>Languages</h1>
    <ul>
        {% for language in languages %}
            <li>{{ language.name }}</li>
        {% endfor %}
    </ul>
  </div>
  <div>
    <h1>Frameworks</h1>
    <ul>
        {% for framework in frameworks %}
            <li>{{ framework.name }} ({{ framework.language.name }})</li>
        {% endfor %}
    </ul>
  </div>
  <div> 
    <h1>Movies</h1>
    <ul>
        {% for movie in movies %}
            <li>{{ movie.name }}</li>
        {% endfor %}
    </ul>
  </div>
  <div>
    <h1>Characters</h1>
    <ul>
        {% for character in characters %}
            <li>{{ character.name }}
                <ul>
                    {% for movie in character.movies.all %}
                        <li>{{ movie.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
  </div>
</body>
<script>
    function render_to_pdf(){
        fetch("/pdf/",{
            method:"GET",
        })
        .then(response=>{
            if(!response.ok){
                throw new Error("Error en la respuesta del servidor");
            }
            return response.blob();
        })
        .then(blob=>{
            const url=URL.createObjectURL(blob);
            const a=document.createElement("a");
            a.href=url;
            a.download="archivo.pdf";
            document.body.appendChild(a);
            a.click();
            URL.revokeObjectURL(url);
            document.body.removeChild(a);
        })
        .catch(error=>{
            console.error("Error al generar pdf:",error);
        })
    }
</script>
</html>