<div class="ahorcado-container">
    <h1>Juego del Ahorcado</h1>
  
    <div class="imagen-ahorcado">
      <img [src]="imagenAhorcado" alt="Imagen del Ahorcado">
    </div>
  
    <div class="palabra">
      <span *ngFor="let letra of palabraOculta">
        {{ letra }}
      </span>
    </div>
  
    <div class="intentos">
      Intentos restantes: {{ intentos }}
    </div>
  
    <div class="letras-incorrectas">
      Letras incorrectas:
      <span *ngFor="let letra of letrasIncorrectas">
        {{ letra }}
      </span>
    </div>
  
    <div class="input-letra">
      <label for="letra">Ingresa una letra: </label>
      <input id="letra" [(ngModel)]="letraIngresada" maxlength="1">
      <button (click)="adivinarLetra()">Adivinar</button>
    </div>
  
    <div *ngIf="juegoTerminado" class="resultado">
      {{ mensajeResultado }}
    </div>
  </div>